BODY {

	color: #000000;

}


style2 {
	color: #003F80;
	font-weight: bold;
	font-family: Verdana;
}


p	{font-family:Times New Roman; color:#000000;}
A	{text-decoration:none;color:#9999CC;}
A:hover	{color: orange;font-weight: none;
A:hover	{  cursor:ne-resize;}